env_python/
.env

*.out
*.bin
*.pdf
*.svg
*.png
*.html
*.aux
*.dvi
*.log
*.synctex
*.synctex.gz
*.bbl
*.fls
*.fdb_latexmk
*.sync

# Include report related builds for collaboration
# We only include the top level report at the end - everything else is local
!report.pdf
!report/res/*
